# リポジトリ全体のコードオーナーを設定する (マッチする定義がない場合のフォールバック先)
* @SHUN5872698

# 特定のファイル種別のみコードオーナーを Team に設定する
# チーム未定義のためコメントアウト
#*.txt @example-org/SHUN5872698-team

# 特定ディレクトリ配下のコードオーナーを、複数アカウントへ設定する
# チーム未定義のためコメントアウト
#.github/workflows/ @github @example-org/SHUN5872698-team
